<div class="streamspage">
<div class="container">


  <div class="streams_table">
    <h1>Your Streams</h1>
    <h5><a href="/streams/new">Click Here</a> to create a new stream.</h5>
    <%if current_user.streams.present? %>
      <%current_user.streams.each do |stream|%>
        <!-- this should be the image we display (<%= image_tag stream.image_url(:fit) %>)'-->

        <div class="cover-photo" style='background-image:url("<%= stream.image_url(:fit) %>")' >
          <div class="stream-index-info">
            <h1><a href="/streams/<%= stream.id %>"><%= stream.name %></a></h1>
            <div class="stream-edit-options">
              <span><%= link_to 'Edit', edit_stream_path(stream.id) %> |</span>
              <span><%= link_to 'Delete', stream_path(stream.id), :data => {:confirm => 'Are you sure?'}, :method => 'delete' %></span>
            </div>
          </div>
        </div>
      <%end%>

    <%else%>
      <h3>You don't have any Streams!</h3>
      <h5><a href="/streams/new">Click Here</a> to create one.</h5>
    <%end%>
  </div>
</div>
</div>