<h1>Streams</h1>

<div class="streams_table">
  <%if current_user.streams.present? %>

    <table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive table-stroke">
      <thead>
        <tr>
          <th data-priority="1"></th>
          <th data-priority="persist">Your Streams</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <%current_user.streams.each do |stream|%>
          <tr>
            <th><%= i %></th>
            <td><a href="/streams/<%= stream.id %>"><%= stream.name %></a>
            <%i = i + 1%>
              <span><%= link_to 'Edit', edit_stream_path(stream.id) %></span>
              <span><%= link_to 'Delete', stream_path(stream.id), :method => 'delete' %></span>
            </td>
          </tr>
        <%end%>
        <h5><a href="/streams/new">Click Here</a> to create a new stream.</h5>
      </tbody>
    </table>

  <%else%>
    <h3>You don't have any Streams!</h3>
    <h5><a href="/streams/new">Click Here</a> to create one.</h5>
  <%end%>
</div>