<% number1 = @stream.users[0].posts.length %>
<% number2 = @stream.users[1].posts.length %>

</div> <!-- to close the container to apply full width backgrounds -->

<div class="stream-header">
  <div class="container stream">
    <div class="user1">
      <li class="profile-photo prof-1">
        <!--
        < %= image_tag @stream.users[0].profile_pic_url(:thumb) if @stream.users[0].profile_pic? %>
        -->
        <div class="avi" style="background-image:url(<%= @stream.users[0].profile_pic_url(:thumb) %>)"></div>
      </li>
      <div class="percentages-left"><h1><%= number_to_percentage(number1.to_f / (number2 + number1) * 100, precision: 0) %></h1></div>
    </div>

    <div class="user2">
      <li>
        <div class="avi" style="background-image:url(<%= @stream.users[1].profile_pic_url(:thumb) %>)"></div>
      </li>
      <div class="percentages"><h1><%= number_to_percentage(number2.to_f / (number1 + number2) * 100, precision: 0) %></h1></div>
    </div>
  </div> <!-- container -->
</div>

<div class="row posts-background">
  <div class="col-md-offset-2 col-md-8">
    <h5><a href="<%= new_stream_post_path(@stream) %>">Click Here</a> to create a new post.</h5>
    <ol>
      <% @stream.posts.order(:created_at).reverse.each do |post| %>
        <div class="post-in-stream">
          <li>
            <ul>
              <div class="post-info">
                <li><h3><%= post.title %> <span class="link"><a href="<%= post.url %>" target="_blank" data-rel="external">Open link.</span></a></h3></li>
                <li class="message"><%= post.message %></li>
                <li class="tags">Tags: <%= raw post.tag_list.map { |t| link_to(t, tag_path(post.stream_id, t), :class => 'btn btn-xs btn-primary') }.join('  ') %></li>
              </div>
            <% if post.user_id == current_user.id %>
              <div class="creator-links">
                <li class="post-links"><a class="btn btn-xs btn-warning" href="<%= edit_stream_post_path(@stream.id, post.id) %>">Edit</a></li>
                <li class="post-links"><%= button_to "Delete", post_path(post), :class => 'btn btn-xs btn-danger', :data => {:confirm => 'Are you sure?'}, :method => :delete %></li>
              </div>
            <% end %>
            </ul>
          </li>
        </div>
      <% end %>
    </ol>
  </div>
</div>

<div> <!-- open div to match the closing tag from the container we escaped at the top -->


