<li><%= image_tag @stream.image_url(:fit) if @stream.image? %></li>

<li><%= image_tag @stream.user.first.profile_pic_url(:thumb) if @stream.image? %></li>
<li><%= image_tag @stream.user.last.profile_pic_url(:thumb) if @stream.image? %></li>

<ol>
  <% @stream.posts.each do |post| %>
    <li>
      <ul>
        <li><%= post.title %></li>
        <li><%= post.message %></li>
        <li><a href="<%= post.url %>" target="_blank" data-rel="external"><%=post.url%></a></li>
      </ul>
    </li>
  <% end %>
</ol>

