<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,300,700,700italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <title>linklove.us</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
  <style>
body.chrome-extension .navbar {
  display: none!important;
}
  </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand home-logo" href="/">LinkLove</a>
        </div>
        <div class="collapse navbar-collapse">
          <%= render 'layouts/navigation' %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <%= render 'layouts/messages' %>

    <%= yield %>
</body>

<footer>
  <div class="container footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 LinkLove, Inc.</p>
  <div>
</footer>
  <% if Rails.env.production? %>
  <%= render :partial => 'layouts/googletracking' %>
  <%end%>
</html>